<template name="mkd3">
# Ahora si, a lo nuestro...
### ¿Qué es "Hacking" y quiénes son "Hackers"?
#### -
#### "Hackear": Interactuar con sistemas de modos no convencionales.
#### -
#### "Hackers": Son los que hackean ... Ya en serio... La manera más fácil de decir quiénes son los hackers, es clasificándolos por los motivos que los impulsan.
##### 1. Black Hat Hackers (Los "Malos")
##### 2. Grey Hat Hackers (Los "Normales")
##### 3. White Hat Hackers (Los "Buenos"), también conocido como Ethical Hackers
#### Otra forma de clasificarlos por nivel de conocimiento de los "Hackers"
##### 1. Personas con conocimientos a nivel de Ciencias Computacionales
##### 2. Profesionales técnicos
##### 3. "Script Kiddies" (Los novatitos)
</template>
