<template name="mkd4">
# Entonces, ¿Por qué los hackers hacen lo que hacen?
#### 1. La razón principal para que hagan lo que hacen que es adquirir **data**.
##### - Robar la información de tarjetas de crédito.
##### - Robar contraseñas de tu cuenta bancaria.
#### 2. Impersonar a alguien.
##### - Suplantar a alguien en Facebook.
##### - Suplantar a tu competencia y comunicarte con sus clientes diciéndoles algo grosero.
#### 3. Destrucción
##### - El ataque que recibió TVN el año pasado, durante las elecciones de Panamá.
##### - Atacar a
#### 4. Por diversión ... Sí, es en serio...
##### - Alguien que ataca a la página de su escuela o la computadora de un amigo.
</template>
