<template name="mkd6">
# Formas de atacar
#### ** La manera de Hollywood: Alguien se sienta en una silla un par de minutos (¡o incluso segundos!), y mágicamente toma control de computadores, roba miles de millones de bancos ... o lanza una bomba nuclear. **
#### En la vida real, los "hackers" realizan un enorme proceso para lograr sus objetivos, que puede tomar desde días, hasta años.
#### Ese proceso envuelve tres tipos distintos de ataques que son:
#### 1. Físicamente
##### - Entrar al edificio, agarrar el equipo que desea adquirir y salir del edificio.
##### - Conectar un USB físicamente a la computadora/servidor/tablet .... etc. y copiar-pegar la información que quieren al USB.
##### - Entrar como empleado temporal, y desde ahí abrir una "puerta trasera" para luego tener una forma de entrar desde afuera de la oficina (A través de redes como Internet).
##### - Por último, War Driving!.
#### 2. Digitalmente
##### - A través de BackDoors, vulnerabilidades de distintos softwares,etc.
##### - DoS ó DDoS
##### - MITM
##### - etc
#### 3. Socialmente
##### - ¡No se trata de computadoras!, y resulta ser la manera más sencilla de hackear.
</template>
