<template name="mkd9">
# ¿Cómo se protegen?
#### Lo primero que hay que saber es que tooooooda la actividad realizada por todos en internet, es registrada.
#### - Nunca usan su propio internet para atacar. (Por ejemplo, van a un café internet que nunca han ido y desde ahí realizan el ataque)
#### - Eliminan los registros de su propia computadora, o incluso en ocasiones compran computadores nuevos para realizar el ataque y cuando acaban, simplemente la botan.
#### - Cualquier compra que realizen para efectuar el ataque, lo hacen usando efectivo.
#### - En algún punto, ellos están muy cerca del sitio que desean atacar. 
</template>
